@import "./lib/index";
@import "./lumino";
@import "./tabs";
@import "./ace_tree";

.app-layout {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.app-layout-center {
    flex: auto;
    display: flex;
    flex-direction: row;
}

.slot-filetree {
    display: flex;
}

.slot-editor {
    overflow: none;
    flex: 1;
    position: relative;
    display: flex;
    min-width: 250px;
    background-color: #222;
}

.slot-preferences {
    display: flex;
}

.slot-preferences .pref-header {
    text-align: center;
}

.slot-preferences .pref-label {
    padding: 5px;
    text-align: right;
}

.slot-preferences .pref-control {
    width: 160px;
}

.slot-preferences input[type="text"],
.slot-preferences input[type="number"],
.slot-preferences select {
    box-sizing: border-box;
    width: 100%;
}

box-resizable {
    --grip-background-color: darken(@color-dark, 10%);
    --grip-hover-color: @color-info;
    --grip-width: 2px;
}

.button-bar-vertical .button {
    writing-mode: vertical-lr;
    padding: 5em 0;
    font-size: 14px;
    line-height: 32px;
}

.button-bar-vertical.button-bar-left .button {
    transform: rotate(180deg);
}

.button-bar-vertical .button:hover {
    background-color: #eee;
}

/**
* If JavaScript does not run, the element will not match `:defined`.
* In that case this style adds spacing between tabs and previous panel.
*/
tab-headers:not(:defined),
tab-header:not(:defined),
tab-body:not(:defined) {
    display: block;
}

.scroll-container {
    flex-grow: 1;
    position: relative;
    display: flex;
    width: 100%;
}

.scroll-container-body {
    position: absolute;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

// not standard
// but works https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar
.app-layout ::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: darken(@color-dark, 10%); /* or add it to the track */
}

.app-layout ::-webkit-scrollbar-thumb {
    background: @color-dark;
}
